*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
coverage
htmlcov
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
node_modules
*/static/js/bundle.js
*/static/js/vendors.js
*/static/libs/modernizr.js
*/static/css/bundle.css
.vault_pass
*.retry
.idea/
.vscode/*
!.vscode/launch.json
basechem/bin/
basechem/lib/
basechem/pyvenv.cfg
log/
*.log
*/.env.prod
*/.env.dev
*/basechem/main/tests/testdata/tmp
basechem/common/mmpdb_data/cache.fragdb
