{% load static crispy_forms_tags %}
<div class="modal fade" id="save-gems-modal-{{ co.pk }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="save-gems-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="save-gems-modal-label">Add Gems to your Collection</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="transparent-form ajax-form" id="save-gems-form-{{ co.pk }}" form-errors="save-gems-errors-{{ co.pk }}" action="{% url 'save_gems' collection.id co.id group_name task_name %}" method="POST" enctype="multipart/form-data" data-modal-id="save-gems-modal-{{ co.pk }}">
        <div class="modal-body">
          <div class="success" id="save-gems-success-{{ co.pk }}"></div>
          <div class="errors" id="save-gems-errors-{{ co.pk }}"></div>
          <p>Save up to 3 "Gems" to use in other analyses</p>
          {% csrf_token %}
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-denali-secondary" data-dismiss="modal">Exit</button>
          <button type="submit" class="btn btn-denali-primary">Save!</button>
        </div>
      </form>
    </div>
  </div>
</div>