{% load static crispy_forms_tags %}
<div class="modal" id="sss-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sss-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sss-modal-label">Search {{ project.code }} Compounds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="transparent-form ajax-form" id="sss-form" form-errors="sss-errors" action="{% url 'sss' project.code %}" method="POST" enctype="multipart/form-data" data-modal-id="sss-modal">
        <div class="modal-body">
          <div class="errors" id="sss-errors"></div>
          {% csrf_token %}
          {% crispy form %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-denali-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-denali-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>