{% extends "base.html" %}
{% block title %}ESP{% endblock %}
{% load static %}
{% block content %}
  <div class="btn-row" style="float:right">
    <button type="button" class="btn btn-icon add-comp-btn hover-tooltip" data-moltext="" title="Add compound(s)"><span class="icon icon-48 plant bg-navy" style="margin-top:5px;"></span></button>
    <button type="button" class="btn btn-icon hover-tooltip" data-toggle="modal" data-target="#hike-modal" title="Change analysis"><span class="icon hiking bg-navy"></span></button>
  </div>
  <h1>Collection {{ collection }}</h1>
  <h3>ESP Maps</h3>
  {{ collection.pk|json_script:"collection-pk" }}
  {{ group_name|json_script:"group-name" }}
  {{ show_help_modal|json_script:"show-help-modal" }}
  <div id="esp-container" class="analysis-container">
    <div id="form-container">
      {% include "main/esp/table.html" %}
    </div>
    <div id="viewer-container">
      {% include "main/esp/viewer.html" %}
    </div>
  </div>
  {% include "mni_common/loading.html" %}
  {% include "main/components/modals/hike.html" %}
  {% include "main/esp/help_modal.html" %}
  {% include "main/components/modals/add_comps.html" with form=add_comp_form %}
{% endblock content %}
{% block extra-js %}
  <script>
    // Style the table with compounds
    var dataTable = $('#esp-table').DataTable({
      lengthChange: false,
      rowReorder: true,
      nowrap: true,
      searching: false,
      scrollY: "500px",
      scrollCollapse: true,
      paging: false,
      info: false,
      bSortCellsTop: true,
      order: [0, 'asc'],
      columnDefs: [
        // Don't allow ordering on the structure, toggle, opacity, and action columns
        {targets: [1,5, 6,7], orderable: false}
      ]
    });
    enableRowReorder('esp-table')
    // Format the multiple-select reference dropdown
    $("#display-reference").select2({
      placeholder: "Select or type",
      allowClear: true,
      width: "100%",
      templateResult: copyDataId,
      templateSelection: copyDataId
    })
    // Fix datatables issue w/ resizing the header when the user resizes the window
    window.addEventListener('resize', function(){
      $('#esp-table').dataTable().fnAdjustColumnSizing();
    });
  </script>
  {% if group_name %}
    <script>
      showLoadingModal({ title: '{{ loading_title }}', message: '{{ loading_message }}' });
      EspMap()
      function downloadSelected(){
        const selectedIds = document.getElementById('selected-ids').value;
        if(selectedIds){
          const url = "{% url 'downloadresultfile' current_view collection.id group_name 123456789 %}".replace(/123456789/, selectedIds);
          window.location = url;
        }
      }
    </script>
  {% endif %}
{% endblock extra-js %}
