<div class="modal fade" id="esp-help-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="esp-help-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="esp-help-modal-label">ESP Tips</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Clicking the "Toggle Receptors" button will add the receptor's binding pocket to the viewer.
            In the quad viewer (4 separate boxes), the displayed receptors correspond to the series associated with the compound in each viewer.
            In the single viewer, the displayed receptor is the one that corresponds to the series that is the most relevant for your displayed compounds.
          </li>
          <li>
            If no receptor is displayed after clicking "Toggle Receptors", there is probably no receptor for the relevant series - reach out to MnI!
          </li>
          <li>
            To enhance visibility in the binding pocket, the receptor's ESP map is projected onto the structure instead of displayed as a cloud.
          </li>
          <li>The charge gradient goes from blue (positive) to red (negative).</li>
          <li>
            Use the "ESP gradient max" slider to change the maximum and minimum values of the gradient used to color the maps. To make the colors more vibrant,
            move the slider towards the left. This will lower the max value of the gradient (the leftmost gradient ranges from
            -0.5 to 0.5). To make the colors less vibrant, move the slider towards the right (the rightmost gradient ranges from -5 to 5). Anything above the
            max will be the darkest blue and anything below the min will be the darkest red.
          </li>
        </ul>
        If you have more questions about how this works, contact MnI!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-denali-secondary" data-dismiss="modal">Exit</button>
      </div>
    </div>
  </div>
</div>