{% load tags mni_common_tags %}
<tr class="compound-row" id="co-{{ co.id }}" data-new-row="{{ new_row }}">
  <td class="order-column reorder">{{ row_num }}</td>
  <td style="width:100px">{{ co.compound|as_svg:"100,50" }}</td>
  <td>{{ co.compound.name }}</td>
  <td>{{ co.saved_from }} {{ co.display_gem_without_series }}</td>
  <td>{{ co.compound.series.name }}</td>
  <td style="width:130px">
    {% if group_name %}
      <span class="task-status" id="co-{{ co.id }}">Job running</span>
      {% call_object_method co "get_esp_task_name" ref_string as task_name %}
      <div style="display: none;">
        <button class="btn btn-denali-secondary btn-table toggle-compound" id="co-{{ co.id }}" data-task-name="{{ task_name }}">Show</button>
      </div>
    {% else %}
      Start analysis
    {% endif %}
  </td>
  <td>
    <input class="toggle-opacity" style="width:90px; float:right; display:none;" type="number" name="opacity" value="0.8" min="0" max="1" step="0.1" class="numberinput form-control" id="co-{{ co.id }}">
  </td>
  <td class="d-flex justify-content-end">
    <div class="btn-row flex-nowrap">
      {% include "main/components/tables/add_comps_btn.html" %}
    </div>
  </td>
</tr>